h2{
    font-size: 48px;
    text-align: center;
    margin: 10px 0px;
}
.message{
    font-weight: normal;
}

.form-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    padding: 20px;
    min-width: 200px;
}
form{
    display: flex;  
    flex-direction: column;
    justify-content: center;
}
input,select,button{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    font-size: 18px
}
select{
    height: 100px;
    overflow-y: scroll;
}

button{
    font-size: 12px;
}
.hidden{
    border: none;
    color:transparent;
    padding: 2px;
    margin: 0;
    border-radius: none;
}
p{
    display: flex;
    flex-direction: column;
}
@media (max-width:370px) {
    .form-div{
        padding: 0px;
    }
    input,textarea{
        padding: 6px;
    }
}