{%extends 'community_web_application/dashboard.html'%}
{%load static%}
{% block dashboard_elements_css %}
    <link rel="stylesheet" type="text/css" href="{%static 'community_web_application/css/dashboard/user_info.css'%}"/>
{% endblock %}
{% block dashboard_display %}
    <h2>User Info</h2>
    {%if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {%endif%}
    <div class="form-div">
        <form method="post" action="{%url 'dashboard_user_info'%}">
            {%csrf_token%}
            {{form}}
            <input value="Update User" type="submit"/>
        </form>
        <form method="post" action="{%url 'dashboard_user_delete'%}">
            {%csrf_token%}
            <input value="Delete User" type="submit"/>
        </form>
    </div>
{%endblock%}