{%extends 'community_web_application/dashboard.html'%}
{%load static%}
{% block dashboard_elements_css %}
    <link rel="stylesheet" type="text/css" href="{%static 'community_web_application/css/dashboard/your_blogs.css'%}"/>
{% endblock %}
{% block dashboard_display %}
    <h2>Your Blog</h2>
    {%if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {%endif%}
    <div class="table-container">
        <table>
            <thead>
                <tr>
                   <th>Sno</th>
                   <th>Title</th> 
                   <th>Date Published</th>
                   <th>Date Modified</th>
                   <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {%for blog in blogs %}
                    <tr>
                        <td class="center">{{ forloop.counter }} </td>
                        <td>{{blog.title}}</td>
                        <td class="center">{{blog.date_created|date}}</td>
                        <td class="center">{{blog.date_modified|date}}</td>
                        <td>
                            <select onclick="handleChange(event, {{blog.id}})">
                                <option>Select</option>
                                <option>Edit</option>
                                <option>Delete</option>
                            </select>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        const handleChange = (event, id) => {
            const selectedValue = event.target.value;
            if(selectedValue === "Edit"){
                console.log("hello")
            }else if(selectedValue === "Delete"){
                fetch("{% url 'dashboard_delete_blog' %}",{
                    method:"POST",
                    mode: "cors",
                    cache: "no-cache", 
                    credentials: "same-origin", 
                    headers: {
                        "Content-Type": "application/json",
                        'X-CSRFToken': '{{csrf_token}}'
                    },
                    body:JSON.stringify({'blog_id':id})
                }).then((res)=>{
                    if (res.status === 302) {
                        window.location.reload()
                    }
                })
            }
        };
    </script>
{%endblock%}