{% extends 'base.html' %} {% load static %} {% block css_files %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'community_web_application/css/index.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'community_web_application/css/all_blogs.css' %}"
/>
{% endblock %} 
{%block title%} All Blogs {% endblock%} 
{%block content%}
<section class="blog-posts">
  <h2>All Blog Posts</h2>
  <div class="blog-posts-cards">
    {% for blog in blog_data %}
      {% include 'community_web_application/blog_card.html' %}
    {% endfor %} 
  </div>
</section>
{%endblock%}
