{% extends 'base.html' %} {% load static %} {% block css_files %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'community_web_application/css/index.css' %}"
/>

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'community_web_application/css/services.css' %}"
/>
{% endblock %} {%block title%} Main Page {% endblock%}
{%block inside_header%}
  <main class="community-information">
    <h2>Welcome To The Community</h2>
    <p>We use and share Free software.</p>
    <div class="button-links">
      <a href="{%url 'index'%}#programs">Programs</a>
      <a href="{%url 'all_blogs'%}">Blogs</a>
      <a href="{%url 'our_team'%}">Meet Our Teams</a>
    </div>
  </main>
{%endblock%}
{%block content%}
<blog class="community-description">
  <div class="content">
    <h2><span>Free Software</span> gives Freedom to one who uses it.</h2>
    <p>
      We are a group of students who likes to use Free software and want to
      promote using such software to our community. We would love to see you
      join our movement.
    </p>
  </div>
  <div>
    <img src="{% static 'community_web_application/images/logo.avif' %}" width="300" height="300"/>
  </div>
</blog>
<section class="blog-posts">
    <h2>Blog Posts</h2>
    <div class="blog-posts-cards">
        {% for blog in blog_data %}
          {% include 'community_web_application/blog_card.html' %}
        {% endfor %}
    </div>
</section>
<section id="programs" class="programs-posts">
    <h2>Programs</h2>
    <p>Here are some of the programs running under our Community.</p>
    <div class="programs-grid">
        <div class="programs-grid-card">
            <img src="{% static 'community_web_application/images/free.avif' %}"/>
            <div class="program-grid-card-content">
                <h3>Free your Phone</h3>
                <p>Do you really own your phone? Learn how you can be safe and secure by using Free and Open Source Software on your phone.</p>
            </div>
        </div>
        <div class="programs-grid-card">
            <img src="{% static 'community_web_application/images/cats.avif' %}"/>
            <div class="program-grid-card-content">
                <h3>Connecting with Computers</h3>
                <p>Sharing the knowledge of using Computers to people who needs the most.</p>
            </div>
        </div>
        <div class="programs-grid-card gnu-love">
            <img src="{% static 'community_web_application/images/gnu-love.avif' %}"/>
            <div class="program-grid-card-content">
                <h3>Liberate your Laptop</h3>
                <p>Learn how to install GNU/Linux on your Laptop/PC and give Freedom to your devices.</p>
            </div>
        </div>
    </div>
</section>


<section id="sevices" class="services">
    <h2>Services</h2>
    <p>Here are some of the services offered by our Community.</p>
    <div class="flexbox">
        <div class="flexcard flexcardGreen">
            <div class="flexcardNumber flexcardNumberGreen">01</div>
            <div class="flex flexcardTitle">Email</div>
            <div class="flex flexcardText">We self-host our email server, providing full control and zero dependency on other proprietary providers.</div>
            <div class="flex flexcardImg"><img class="flexcardimgItem"
                    src="https://www.kindpng.com/picc/m/268-2686291_computer-icons-email-clip-art-duplicate-emails-hd.png" alt=""></div>
        </div>
        <div class="flexcard flexcardBlue">
            <div class="flexcardNumber flexcardNumberBlue">02</div>
            <div class="flex flexcardTitle">NextCloud</div>
            <div class="flex flexcardText">Taking full control of our data, privacy, and security by hosting our own email server and Nextcloud instance.</div>
            <div class="flex flexcardImg"><img class="flexcardimgItem"
                    src="https://goopensource.fr/wp-content/uploads/2020/11/Nextcloud-Logo-800x445.png" alt=""></div>
        </div>
        <div class="flexcard flexcardOrange">
            <div class="flexcardNumber flexcardNumberOrange">03</div>
            <div class="flex flexcardTitle">XMPP</div>
            <div class="flex flexcardText">Connect with your loved ones securely without your data being sold.</div>
            <div class="flex flexcardImg"><img class="flexcardimgItem"
                    src="https://www.kindpng.com/picc/m/720-7209082_transparent-jackie-chan-wtf-png-jabber-xmpp-png.png" alt=""></div>
        </div>
        <!-- <div class="flexcard flexcardPink">
            <div class="flexcardNumber flexcardNumberPink">04</div>
            <div class="flex flexcardTitle">Title</div>
            <div class="flex flexcardText">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae,
                temporibus consectetur? Iure id nam fuga asperiores repellat accusantium exercitationem nemo?</div>
            <div class="flex flexcardImg"><img class="flexcardimgItem"
                    src="https://cdn.pixabay.com/photo/2017/01/10/23/01/seo-1970475_960_720.png" alt=""></div>
        </div> -->

</section>



<section class="programs-posts">
    <h2>Stats</h2>
    <p>Number of devices altered under our Programs.</p>
    <div class="stats-cards">
        <div class="card">
            <p># of phones freed</p> <p>5</p>
        </div>
        <div class="card">
            <p># of Laptops liberated</p> <p>1</p>
        </div>
    </div>
</section>
{%endblock%}
