{% extends "base.html" %}
{% load static %}
{% block css_files %}
    <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'community_web_application/css/login_and_signup.css' %}"
    />
{% endblock %}
{% block title %}
        JOIN US
{% endblock %}
{% block inside_header%}
    <section class="desc">
        <h1>
            Welcome Back
        </h1>
        <p>We hope you will share your brilliant thoughts with us!</p>
    </section>
{% endblock%}
{% block content %}
    <main class="container">
        <div class="login-div">
            <h2>Login</h2>
            <form method="POST" action="/user/login">
                {{login_form}}
                <p>Don't have a login? <a href="{% url 'Join Us'%}">Register Now</a></p>
                <div class="button-container">
                    <input type="submit" value="Login">
                    <input type="reset" value="Cancel">
                </div>
            </form>
        </div>
    </main>
{% endblock %}
