{% extends "base.html" %}
{% load static %}
{% block css_files %}
    <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'community_web_application/css/login_and_signup.css' %}"
    />
{% endblock %}
{% block title %}
        JOIN US
{% endblock %}
{% block inside_header%}
    <section class="desc">
        <h1>
            JOIN THE COMMUNITY
        </h1>
        <p>Exiting Community of Like Minded People</p>
    </section>
{% endblock%}
{% block content %}
    <main class="container">
        <div class="sign-up-div">
            <h2>Register</h2>
            {%if messages %}
                {% for msg in messages %}
                    <p>{{msg}}</p>
                {% endfor %}
            {%endif%}
            <form method="POST" action="{% url 'user_actions' %}">
                {%csrf_token%}
                {%for e in registration_form %}
                    <label>{{e.label}}</label>
                    {{e}}
                {%endfor%}
                <p>Already Registered? <a href="{% url 'sign_in'%}">Login Now</a></p>
                <div class="button-container">
                    <input type="submit" value="Sign Up">
                    <input type="reset" value="Cancel">
                </div>
            </form>
        </div>
    </main>
{% endblock %}
