* {
  margin: 0;
  padding: 0;
  border: none;
}
.doc-info{
  background-color: #3586ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wave-section {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 120px;
  background-color: #3586ff;
  overflow: hidden;
}
.wave-section .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("images/wave.png");
  background-size: 1000px 100px;
}

.footer {
  margin-top: 3rem;
  height: 300px;
}
.footer.wave-section .wave {
  top: 0;
  transform: rotate(180deg);
}
.wave-section .wave.wave1 {
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

.wave-section .wave.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}

.wave-section .wave.wave3 {
  animation: animate 15s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}

.wave-section .wave.wave4 {
  animation: animate2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 10px;
}
.header-container {
  background-color: #3586ff;
}
.header {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: 0px auto;
  width: 80%;
}
.header-links-container {
  flex: 1;
  font-family: Arial, Helvetica, sans-serif;
}
.header-title {
  flex: 1;
  padding: 0px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.header-title h1 {
  color: white;
}

.header-links {
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  gap: 30px;
  align-content: center;
  font-size: 24px;
  color: white;
  list-style-type: none;
}
.menu-toggle{
  margin: 20px;
  display: none;
  font-size: 36px;
  color: white;
}
@media screen and (max-width: 1150px) {
  .header{
    flex-direction: column;
    padding: 0px;
    width: 100%;
    justify-content: center;
  }
  .header-links-container{
    background-color: rgba(255, 255, 255, 0.6);
    display: none;
  }
  .header-links{
    flex-direction: column;
    width: 100%;
    gap:0px;  
  }
  h1{
    padding: 20px;
  }
  .header-links li{
    padding: 20px 20px;
    border-bottom: 1px solid white;
  }
  .header-links li:hover{
    background-color: black;
  }
  .menu-toggle{
    display: block;
  }
}
.header-links a,
.header-links a:visited,
.header-links a:focus,
.button-links a,
.button-links a:visited,
.button-links a:focus {
  color: white;
  text-decoration: none;
}
