{% load static %}
<html>
    <head>
        <title>The Big O Community - 
            {% block title %}
            {%endblock%}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}"/>
        {% block css_files %}
        {% endblock %}
    </head>
    <body>
        <section class="wave-section">
            <div class="wave wave1"></div>
            <div class="wave wave2"></div>
            <div class="wave wave3"></div>
            <div class="wave wave4"></div>
        </section>
        <header class="header-container">
            <div class="header">
                <div class="header-title">
                    <h1>
                        The Big O Community
                    </h1>
                </div>
                <div class="header-links-container">
                    <ul class="header-links">
                        <li><a href="{%url 'All Blogs'%}">Blog</a></li>
                        <li><a href="">Program</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Auto</a></li>
                    </ul>
                </div>
            </div>
        </header>
        {% block content %}
        {% endblock %}
    </body>
    <footer>
        <section class="footer wave-section">
            <div class="wave wave1"></div>
            <div class="wave wave2"></div>
            <div class="wave wave3"></div>
            <div class="wave wave4"></div>
        </section>
    </footer>
</html>