{% load static %}
<html>
  <head>
    <title>The Big O Community - {% block title %} {%endblock%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
    {% block css_files %} {% endblock %}
  </head>
  <body>
    <header class="header-container">
      <div class="header">
        <div class="header-title">
          <h1>The Big O Community</h1>
          <a class="menu-toggle" onclick="toggle_header_menu()">
            <i class="fa fa-bars"  aria-hidden="true"></i>
          </a>
        </div>
        <div class="header-links-container">
          <ul class="header-links">
            <li><a href="{%url 'index'%}">Home</a></li>
            <li><a href="{%url 'all_blogs'%}">Blog</a></li>
            <li><a href="{%url 'index'%}#programs">Program</a></li>
            {% if user.is_authenticated  %}
              <li><a href="{%url 'dashboard_home'%}">Dashboard</a></li>
            {%else%}
              <li><a href="{%url 'join_us'%}">Join Us</a></li>
            {% endif %}
            <li><a href="">Auto</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="doc-info">{%block inside_header%} {%endblock%}</div>
    <div class="wave-section">
      <div class="wave wave1"></div>
      <div class="wave wave2"></div>
      <div class="wave wave3"></div>
      <div class="wave wave4"></div>
    </div>
    {% block content %} {% endblock %}
    <footer class="footer">
      <section class="wave-section">
        <div class="wave wave1"></div>
        <div class="wave wave2"></div>
        <div class="wave wave3"></div>
        <div class="wave wave4"></div>
      </section>
    </footer>
    <script src="{% static 'js/base.js' %}"></script>
  </body>
</html>
