.blog-container{
    z-index: 2000;
    display: flex;
    flex-direction: column;
    width:60%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px auto 10px auto;
}
@media only screen and (max-width: 1200px){
    .blog-container{
        width:80%;
    }
}

@media only screen and (max-width: 600px){
    .blog-container{
        width:90%;
    }
}

.title-container{
    display: flex;
    flex-direction: column;
    z-index: 2000;
    justify-content: center;
    align-items: center;
    height: 250px;
    margin-bottom: 1rem;
    color: white;
}

.title-container h1{
    font-size: 54px;
    margin-bottom: 20px;
}
.title-container h2{
    margin-bottom: 10px;
    font-style: italic;
}
.blog-container *{
    z-index: inherit;
}
.wave-section{
    height: 400px;
}
@media only screen and (max-width: 500px){
    .wave-section{
        height: 450px;
    }
}
@media only screen and (max-width: 350px){
    .wave-section{
        height: 500px;
    }
}
.footer{
    height: 70px;
}
.blog-content{
    display: block;
    margin-top: 5rem;
    padding: 10px;
    text-align: justify;
    min-height: calc(100vh - 470px);
}
.wave-section .wave{
    display: none;
}

.blog-content *{
    margin: 10px;
}

.blog-content ul, .blog-content ol{
    padding-left: 0.5rem;
}
.blog-content img{
    width: 100%;
    margin: 20px 0px; 
}
.blog-tags{
    border-radius: 8px;
    background-color: white;
    padding: 8px 16px;
    font-weight: bold;
    color: black;
    width: fit-content;
    display: inline-block;
}
.tags-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:8px;
}
.tags{
    padding: 10px 0px;
    font-weight: bold;
    font-size: 24px;
}
.author-name a, .author-name a:visited, .author-name a:focus{
    color: white;
}
.blog-tags a, .blog-tags:visited, .blog-tags:focus{
    text-decoration: none;
    color: black;
}