h2{
    color: white;
    font-size: 58px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 4rem;
}
.team-container{
    min-height: 60vh;
    width: 80%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.team-card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    height: fit-content;
    margin: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    border-radius: 20px;
}
.data{
    display: flex;
    flex-direction: row;
    flex-direction: column;
    flex: 3;
}

.team-card img{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    flex: 1;
}
.data{
    min-width: 400px;
    font-size: 22px;
}
.data h3{
    margin-bottom: 10px;
    font-size: 48px;
    text-align: center;
}
.data p{
    margin: 10px 0px;
    text-align: justify;
}
.socials{
    text-align: center;
}
.socials a,.socials a:active,.socials a:hover,.socials a:visited{
    color: var(--card-a-color);
    text-decoration: none;
}
.socials a:hover{
    text-decoration: underline;
}
@media (max-width:768px) {
    .data{
        min-width: 300px;
    }
}
@media (max-width:450px) {
    .team-container{
        width: 100%;
    }
    .team-card{
        padding: 5px;
    }
    .data{
        min-width: 220px;
    }
}